.hero {
    height: 350px;
}

.regular-nav__listitem {
    width: 200px;
}

.main__only-tablet {
    display: none;
}

.main__not-tablet {
    display: block;
}

.main__map-header {
    font-size: 1rem;
}